<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Lista de Ganhos</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<!-- Adicionando JQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>

<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js"
	type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css"
	rel="stylesheet" type="text/css" />


<style type="text/css">
table.striped>tbody>tr:nth-child(odd) {
	background-color: rgba(158, 154, 154, 0.5);
}

form input[type=submit] {
	color: white;
}

table {
	width: 100%;
}

table td, table th {
	border: 1px solid grey;
}

table th {
	background: #eee;
}

@media only screen and (max-device-width: 900px) {
	/* .menu { width:600px; } */
}

@media only screen and (max-device-width: 700px) {
	/* .menu { width:400px; } */
}
</style>
</head>
<body>
   
   <a class="waves-effect waves-light btn" href="/cadastropessoa">Cadastro de Pessoas</a>
  
	<br />
	<fieldset>
		<legend>Lista de Ganhos</legend>

		<div class="row">

<table class="striped">
		<thead>
			<tr>
			    <th>ID</th>
				<th>Total Ganhos</th>
			</tr>
		</thead>

		<tr th:each="receitas : ${receita.content}">
		     <td th:text="${receitas.idReceitas}"></td>
		     <td th:text="${receitas.totalGanhos}"></td>
		</tr>
	    
	</table>
	

	<center>

					<span th:if="${receita.hasPrevious()}"> <a
						th:href="@{/receitaspag(page=${receita.number-1}, size=${receita.size}, nomepesquisa=${nomepesquisa})}">Anterior</a>
					</span>

					<th:block
						th:each="i: ${#numbers.sequence(0, receita.totalPages - 1)}">
						<a
							th:href="@{/receitaspag(page=${i}, size=${receita.size}, nomepesquisa=${nomepesquisa})}">[[
							${i} + 1 ]]</a>
					</th:block>


					<span th:if="${receita.hasNext()}"> <a
						th:href="@{/receitaspag(page=${receita.number+1}, size=${receita.size}, nomepesquisa=${nomepesquisa})}">Proximo</a>
					</span>


				</center>


    	</div>
	</fieldset>
	
	
	
	
	
	
</body>
</html>